@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}


body {
    color: white;
}


@layer utilities {
    .spinner-button::before {
        @apply content-[''] absolute bg-[conic-gradient(#04b0ee_20deg,transparent_120deg)] w-[300px] h-[120px] left-[-25%] top-[-25%] animate-fullSpin;
    }
    .spinner-button::after {
        @apply content-['Project'] text-white w-[94%] h-[94%] bg-black absolute inset-[3%] flex justify-center items-center uppercase tracking-[2px] font-medium;
    }
}